body{
    background-color: #c62328;
}
body{
    background-color: Coral;
}
header{
    background-color: DeepPink;
    border: 6px solid Dodgerblue;
    border-radius: 16px;
    font-family: inherit;
    margin: auto;
    margin-top: 8px;
    padding: 24px;
    width:900px;
}

h1, h2, h3, h4, h5, h6{
    color: Dodgerblue;
    font-family: inherit;
    padding-top: 12px;
}

.top {
    list-style-type: none;
    border: 4px solid grey;
    border-radius: 16px;
    font-family: inherit;
    font-weight: bold;
    background-color: darkgrey;
}

.top, .top_li{
    display: inline;
    border-right: 4px solid grey;
    padding-right: 8px;
    padding-left: 8px;
}

.top, .top_li:last-child {
    border: none;
    padding: 8px;
}

.top, .top_li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.top a:hover {
  background-color: lightgray;
}

.form{
  margin-top: 14px;
}

img {
    border: 16px solid MediumSeaGreen;
    padding: 12px;
    border-radius: 32px;
    margin-left: inherit;
    margin-right: auto;
    width: 40%;
}

.size1 {
    background-color: whitesmoke;
    border: 6px solid black;
    border-radius: 16px;
    font-family: inherit;
    margin: auto;
    margin-top: 8px;
    padding: 24px;
    width:800px;
    height:400px;
}

.size2 {
    background-color: Violet;
    border: 6px solid black;
    border-radius: 16px;
    font-family: inherit;
    margin: auto;
    margin-top: 8px;
    padding: 24px;
    width:900px;
    height:500px;
}

article {
    background-color: whitesmoke;
    border: 6px solid black;
    border-radius: 24px;
    font-family: inherit;
    margin: auto;
    margin-top: 8px;
    padding: 24px;
    width:900px;
}
footer{
  margin-left: 230px;
}
.p3{
  width: 435px;
  margin-left: 8px;
  border: 6px solid #00FFFF;
}
